/* App.css */
.App {
  text-align: center;
  background-image: url('./multimedia/rainforest.png'); /* Pfad zu Ihrem Hintergrundbild */
  background-size: cover; /* Damit das Bild den gesamten Hintergrund abdeckt */
  background-position: center; /* Zentriert das Hintergrundbild */
  height: 100vh; /* Stellt sicher, dass der Hintergrund den gesamten Bildschirm ausfüllt */
  color: #f5f5dc; /* Ein helles Beige, das an Sand oder Knochen erinnert */
  font-family: 'Georgia', serif; /* Ein klassischer Schrifttyp, der an handgeschriebene Texte erinnert */
}

